# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

libs/angular/*
!/libs/angular/package.json
!/libs/angular/project.json
!/libs/angular/README.md
!/libs/angular/cva
!/libs/angular/cva/*
!/libs/angular/ng-package.json
!/libs/angular/tsconfig.json
!/libs/angular/tsconfig.lib.json
!/libs/angular/tsconfig.lib.prod.json

libs/react/*
!/libs/react/package.json
!/libs/react/project.json
!/libs/react/README.md
!/libs/react/tsconfig.lib.json
!/libs/react/tsconfig.json
!/libs/react/.babelrc

libs/svelte/*
!/libs/svelte/package.json
!/libs/svelte/project.json
!/libs/svelte/README.md
!/libs/svelte/tsconfig.lib.json
!/libs/svelte/tsconfig.json
!/libs/svelte/.babelrc

libs/vue/*
!/libs/vue/package.json
!/libs/vue/project.json
!/libs/vue/README.md
!/libs/vue/tsconfig.lib.json
!/libs/vue/tsconfig.json
!/libs/vue/.babelrc

# System Files
.DS_Store
Thumbs.db
